.footer {
  margin: 100px 200px 20px 200px;

  .top {
    display: flex;
    gap: 50px;

    .item {
      flex: 1; // gives equal height to all the components inside the div
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify; // so that the text span takes all the width, however the space between words will be
      font-size: 14px;

      h1 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span {
        color: grey;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    .left {
      .logo {
        color: #2879fe;
        font-weight: bold;
        font-size: 24px;
      }
      .copyright {
        margin-left: 20px;
        font-size: 12px;
        color: gray;
      }
    }
    .right {
      img {
        height: 50px; // height to resize the image
      }
    }
  }
}
